.slider-price {
    margin-left: 30px !important;
    width: 30%;
}

.btn-register {
    width: 125px;
    height: 45px;
    border-radius: 30px;
    background-color: #F35047;
    color: #FFFFFF;
}

.title-descriptions {
    width: 600px;
    text-align: center;
    display: inline-block;

    h1 {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }

    .lead {
        font-size: 40px;
        font-weight: 400;
        color: #0A9FF8;
        margin-top: 1rem;
        // margin-bottom: 2rem;
        // padding-bottom: 0.5rem;
        font-family: 'Poppins', sans-serif;
    }


}

.img-introduction {
    width: 40rem;
    max-width: 610px;
    height: 35rem;
    max-height: 600px;
}

.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10rem;
    margin-left: 8rem;
}

.frame_3 {
    width: 1100px;
}

.btn-white {
    border-radius: 20px;
    border-color: #C2C2C2;
    background-color: #FFFFFF;
    color: #000 !important;
    margin-right: 1rem;
}


.btn-green {
    border-radius: 20px;
    border-color: #C2C2C2;
    background-color: #426B1F;
    color: #FFFFFF !important;
    margin-right: 1rem;
}

.imageHotGym {
    width: 335px;
}

.imageLastestNews {
    width: 235px;
}

.text-section {
    h5 {
        font-size: 20px;
        font-weight: 700;
        color: #000;
    }

    h6 {
        font-size: 20px;
        font-weight: 600;
        color: #426B1F;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: #6D6D6D;
    }
}

.button-view-all {
    width: 200px;
    height: 40px;
    color: #FFFFFF;
    background-color: #AC1929;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.imageHotTopic {
    width: 850px;
    height: 390px;
}

.div-text {
    width: 750px;
    height: 250px;
    border-radius: 40px;
    background-color: #009FFF;
    position: relative;
    padding: 1rem 2rem 2rem;
    margin-left: 13rem;

    p {
        color: #FFFFFF;
        font-size: 16px;
    }


}

.imageAboutTitle {
    position: absolute;
    bottom: -250px;
    left: 280px;
    width: 600px;
    height: 400px;
    /* Chiều cao của hình ảnh sẽ chiếm 1/5 của chiều cao của div-text */
    object-fit: cover;
}

.imageWM {
    width: 1100px;
    height: 400px;
}

hr {
    border: none;
    height: 2.5px;
    background-color: #D0D5DD;
    padding-top: 0;
    margin-top: 0;
    width: 485px;
}

.hr-mission {
    border: none;
    height: 2.5px;
    background-color: #D0D5DD;
    padding-top: 0;
    margin-top: 0;
    width: 205px;
    float: left;
}

.text-bold {
    font-weight: 700;
}

.text-left {
    float: left;
    width: 200px;
    border-bottom: 3px solid #D0D5DD;
    margin-top: 2rem;
    margin-bottom: 2rem;
}