<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section">
      <div class="section-intro">
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12 title-descriptions">
                <h1 class="display-3">We’re here to
                </h1>
                <div class="lead">gurantee your success</div>
                <hr>
              </div>
            </div>
            <div class="div-text">
              <p>ConsultUs provides consulting services that help business owners and leaders build a more valuable
                business. We worked
                with their founder to build a professional, modern site that follows the StoryBrand framework to
                clearly communicates
                the value it adds to potential clients
              </p>
            </div>
            <img class="imageAboutTitle" alt="" src="assets/img/Frame 1357.png">

          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section" style="padding-bottom: 0 !important;">
    <div class="section-intro">
      <div class="container" style="padding: 0 15px;">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12 title-descriptions">
              <h1 class="display-3">We’re here for you
              </h1>
              <div class="lead">no matter where you are</div>
              <hr>
            </div>
          </div>

          <img class="imageWM" alt="" src="assets/img/WorldMap.png">
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="section-intro">
      <div class="container" style="padding: 0 15px;">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12 title-descriptions text-left">
              <span class="display-3">Our
              </span>
              <span class="lead">Mission</span>
            </div>
            <div class="our-mission d-flex">
              <div class="col-lg-3 text-bold">
                Unmatched service
              </div>
              <div class="col-lg-9">
                Support corporate clients and financial investors with their growth strategy and international
                development. Also supportive for everything that make user/ customer happy.
              </div>
            </div>
            <div class="our-mission d-flex">
              <div class="col-lg-3 text-bold">
                Specific
              </div>
              <div class="col-lg-9">
                ConsultUs’ core expertise lies in the ability to support our clients in understanding, analysing and
                executing
                commercial and investment strategies in specific markets.
              </div>
            </div>
            <div class="our-mission d-flex">
              <div class="col-lg-3 text-bold">
                Experience
              </div>
              <div class="col-lg-9">
                Experience in working with and assisting a wide range of clients from international corporations to
                small/medium-sized
                businesses, from large corporate debt providers to mid-market private equity investors.
              </div>
            </div>
            <div class="our-mission d-flex">
              <div class="col-lg-3 text-bold">
                Technology
              </div>
              <div class="col-lg-9">
                The best combination of technology and people.
                The best combination of technology and people.The best combination of technology and people.


              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 title-descriptions text-left">
              <span class="display-3">Our
              </span>
              <span class="lead">Commitment</span>
            </div>
            <div class="our-mission d-flex">
              <div class="col-lg-3 text-bold">
                Ethics
              </div>
              <div class="col-lg-9">
                Ethics for ConsultUs means ensuring our customers the confidentiality and uniqueness of the service they
                are provided. A
                client must be reassured by the fact that the service provided to them is made-to-measure and will not
                be
                recycled for
                their competitors.
              </div>
            </div>
            <div class="our-mission d-flex">
              <div class="col-lg-3 text-bold">
                Quality
              </div>
              <div class="col-lg-9">
                ConsultUs is committed to ensuring that our advice and recommendations are based on the best combination
                of methods,
                information research, creativity and internal quality assurance.
              </div>
            </div>
            <div class="our-mission d-flex">
              <div class="col-lg-3 text-bold">
                Continuity
              </div>
              <div class="col-lg-9">
                ConsultUs considers that the continuity of relations on the long term with its clients is the guarantee
                of
                the
                satisfaction of these and the quality of the services provided.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="elfsight-app-2bb20d90-b4b8-4f52-b90a-a2fc00eac7d1" data-elfsight-app-lazy></div>

  </section>

</main>