<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section">
      <div class="section-intro">
        <div class="container py-lg-md d-flex">
          <div class="col px-0 text-center">
            <div class="row">
              <div class="col-lg-12 title-descriptions">
                <h3 class="display-title">ToPass
                </h3>
              </div>
            </div>
            <p class="margin-bottom-1">A high-quality solution for those who want
              a beautiful startup website quickly.
            </p>
            <div class="email margin-bottom-1">
              <div class="title">
                E-MAIL
              </div>
              <div class="description">
                info@topass.com </div>
            </div>
            <div class="phone margin-bottom-1">
              <div class="title">
                PHONE
              </div>
              <div class="description">
                +1 501 233 5036</div>
            </div>
            <div class="socails margin-bottom-1">
              <div class="title">
                SOCAILS
              </div>
              <div class="description">
                <i class=""></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <div class="elfsight-app-2bb20d90-b4b8-4f52-b90a-a2fc00eac7d1" data-elfsight-app-lazy></div>

    <!-- 1st Hero Variation -->
  </div>

</main>