<main>
  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col px-0">
          <div class="d-flex">
            <h4 class="display-3" style="margin-top: 2rem;">Product</h4>
          </div>
          <div class="row">
            <div class="col-lg-2 mb-2" *ngFor="let newsItems of productLists">
              <!-- Phần ảnh -->
              <div class="image-section mb-3 padding-3">
                <!-- Đặt hình ảnh ở đây -->
                <img class="imageLastestNews" alt="" src="{{newsItems.image}}">

              </div>
              <!-- Phần text -->
              <div class="text-middle">
                <p>
                  {{newsItems.title}}
                </p>
                <p>
                  {{newsItems.quantity}}
                </p>
              </div>
            </div>

            <!-- Thêm các thẻ card khác tương tự -->
            <!-- Số lượng card trên mỗi hàng là 4-->
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col px-0">
          <div class="d-flex">
            <h4 class="display-3" style="min-width: 500px;">Most Popular Courses</h4>
            <div class="col-lg-10 text-right py-lg-3">
              <button
                style="width: 85px; height: 35px; display: inline-block; font-size: 14px; font-weight: 700; padding-top: 0.35rem; text-align: center;"
                [ngClass]="{'btn-green':value=='default', 'btn-white':value !='default'}"
                (click)="selectedOption('default')">
                <span class="nav-link-inner--text">Default</span>
              </button>
            </div>
          </div>
          <div class="mt-5">
            <div class="container" style="margin-left: 2rem; margin-right: 0; margin-top: 1rem;">
              <div class="row" *ngFor="let row of listCourses">
                <div class="col-lg-4 mb-4" *ngFor="let newsItem of row">
                  <div class="card shadow shadow-lg--hover">
                    <div class="card-body">
                      <!-- Phần ảnh -->
                      <div class="image-section mb-3 text-center">
                        <!-- Đặt hình ảnh ở đây -->
                        <img class="imageLastestNews" alt="" [src]="newsItem.image">
                      </div>
                      <!-- Phần text -->
                      <div class="text-section">
                        <h6>{{ newsItem.title }}</h6>
                        <p>{{ newsItem.time }}</p>
                        <p>{{ newsItem.source }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>



</main>