<div *ngIf="shouldShowNav" class="nav-container">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img alt="" src="./assets/img/brand/fitnesshappy.png">
  </a>
  <div class="navigation-bar">
    <a [routerLink]="['/home']" class="nav-item">Trang chủ</a>
    <a [routerLink]="roleNumber == 1 ? ['/list-product'] : ['/products']" class="nav-item">Sản phẩm</a>
    <a [routerLink]="['/blog']" class="nav-item">Bài viết</a>
    <a [routerLink]="['/facilities']" class="nav-item">Cơ sở</a>
    <a [routerLink]="['/ticket']" class="nav-item">Vé</a>
    <a [routerLink]="['/about']" class="nav-item">Về chúng tôi</a>
  </div>
  <div class="user-info">
    <div *ngIf="roleNumber">{{userName}}</div>
    <a *ngIf="!roleNumber" [routerLink]="['/login']" style="margin-left: 1rem; margin-right: 0.5rem;">Đăng nhập</a>
    <div *ngIf="roleNumber" [routerLink]="['/login']" (click)="handleLogout()" style="margin-left: 1rem; margin-right: 0.5rem;">Đăng xuất</div>
  </div>
</div>