<!-- Màn hình guest/customer -->
<nav *ngIf="customerNavbar || guestNavbar" id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"
  style="padding-top: 0px !important;">
  <div class="container-menu">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img alt="" src="./assets/img/brand/fitnesshappy.png">
    </a>
    <button type="button" aria-label="Close modal" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img alt="" src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" aria-label="Close modal" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span style="cursor: pointer; color: #000000" class="nav-link-inner--text"
              [routerLink]="['/home']">Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span style="cursor: pointer; color: #000000" class="nav-link-inner--text">Class</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu">
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['/introduction']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Class A</h6>
                  <p class="description d-none d-md-inline-block mb-0">Professional class</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Class B</h6>
                  <p class="description d-none d-md-inline-block mb-0">Semi-professional / Amature class</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Class C</h5>
                  <p class="description d-none d-md-inline-block mb-0">Begineer class</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span style="cursor: pointer; color: #000000" class="nav-link-inner--text">Product</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu">
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['/introduction']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Class A</h6>
                  <p class="description d-none d-md-inline-block mb-0">Professional class</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Class B</h6>
                  <p class="description d-none d-md-inline-block mb-0">Semi-professional / Amature class</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Class C</h5>
                  <p class="description d-none d-md-inline-block mb-0">Begineer class</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span style="cursor: pointer; color: #000000" class="nav-link-inner--text">Template</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu">
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['/introduction']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Class A</h6>
                  <p class="description d-none d-md-inline-block mb-0">Professional class</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Class B</h6>
                  <p class="description d-none d-md-inline-block mb-0">Semi-professional / Amature class</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Class C</h5>
                  <p class="description d-none d-md-inline-block mb-0">Begineer class</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span style="cursor: pointer; color: #000000" class="nav-link-inner--text"
              [routerLink]="['/pricing']">Blog</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span style="cursor: pointer; color: #000000" class="nav-link-inner--text"
              [routerLink]="['/pricing']">Pricing</span>
          </a>
        </li>
        <li class="nav-item dropdown" style="margin-left: 7rem !important;">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span style="cursor: pointer; color: #000000" class="nav-link-inner--text" [routerLink]="['/login']">ĐĂNG
              NHẬP</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-6">

        <li *ngIf="guestNavbar" class="nav-item d-none d-lg-block ml-lg-4">
          <a routerLinkActive="active" [routerLink]="['/register']" class="btn btn-register">
            <span class="btn-inner--icon">
              <i class="fa fa-key mr-2"></i>
            </span>
            <span class="nav-link-inner--text">ĐĂNG KÝ</span>
          </a>
        </li>
        <li *ngIf="customerNavbar" class="nav-item" ngbDropdown placement="bottom-right">
          <a class="nav-link pr-0" role="button" ngbDropdownToggle>
            <div class="media align-items-center">

              <span class="avatar avatar-sm rounded-circle">
                <img alt="" alt="Image placeholder" src="assets/img/theme/team-4-800x800.jpg">
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">{{username}}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a routerLinkActive="active" [routerLink]="['/customer-profile']" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Xem thông tin</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/customer-schedule']" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Xem lịch dịch vụ</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/customer-history']" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Lịch sử đặt hàng</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/change-pass']" class="dropdown-item">
              <i class="fas fa-lock"></i>
              <span>Đổi mật khẩu</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/support']" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Liên hệ & Hỗ trợ</span>
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Đăng xuất</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>