.margin0 {
    display: flex;
    margin-bottom: 0 !important;
}

.error {
    font-size: 11px;
    color: #ff0000;
    float: left;
    width: 100%;
}



.column-center {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: -10rem;
}

.title-page {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
    margin-bottom: 1.5rem;
    color: #373737;
    font-weight: 900;
}

.btn-color {
    background-color: #AC1929;
    border-radius: 15px;
    width: 383px;
    height: 34px;
    color: #ffffff;
    font-size: 14px;
    padding: 7px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.input-auth-page {
    width: 383px;
}

.hightlight {
    color: #0F3DDE;
    font-weight: 500;
    cursor: pointer;
}

.forgot-pass-title {
    text-align: start;
    color: #0F3DDE;
    font-weight: 500;
    cursor: pointer;
}

.height-fix {
    height: 2rem;
}

.form-group{
    margin-bottom: 0.5rem;
}