<main>
  <section class="background-fitness">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row column-center">
        <div class="col-lg-5">
              <div class="text-center text-muted mb-4">
                <h3>Đổi mật khẩu</h3>
              </div>
              <form role="form">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                     
                    <input class="form-control" t #account id="account" (keypress)="omit_special_char_email($event)"
                      (blur)="changeHandler('account')" (focus)="focusAccount()" placeholder="name@email.com"
                      type="text" aria-describedby="email-help" maxlength="50" [(ngModel)]="account_name">
                  </div>
                  <div *ngIf="account_name" class="delete" (click)="clearEmail()">
                    <img style="float: right;" src="assets/img/close.svg" />
                  </div>
                </div>
                <div class="form-group margin0" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend input-auth-page">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Mật khẩu" type="password" [(ngModel)]="pwd" type="password"
                      name="password" #password id="password" (focus)="focus2=true" (blur)="focus3=false">
                  </div>
                </div>

                <label>Nhập lại mật khẩu: </label>
                <div class="form-group margin0" [ngClass]="{'focused':focus4===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend input-auth-page">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Nhập lại mật khẩu" type="password" [(ngModel)]="repwd"
                      type="password" name="repassword" #repassword id="repassword" (focus)="focus2=true"
                      (blur)="focus4=false">
                  </div>
                </div>
                <span *ngIf="repassword.value && !validatePassword(repassword.value)" class="error"> Mật khẩu tối thiểu
                  tám
                  ký tự, ít nhất một chữ cái, một số và một ký tự đặc biệt.</span>
                <span *ngIf="changeError" class="error"> Nhập sai mật khẩu hiện tại.</span>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4" (click)="changePass()">Đổi mật khẩu</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="javascript:void(0)" class="text-light">
                <small>Quên mật khẩu?</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a [routerLink]="['/register']" class="text-light">
                <small>Tạo tài khoản</small>
              </a>
            </div>
          </div>
        </div>
  </section>
</main>