<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Dịch vụ vệ sinh
                <!-- <span>completed with examples</span> -->
              </h1>
              <p class="lead  text-white">Dịch vụ vệ sinh của HMS có đa dạng các loại hình tiện ích, hình thức phù hợp
                cho nhu cầu dọn dẹp của khách hàng.</p>
              <div class="btn-wrapper">
                <a [routerLink]="['/booking']" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-task"></i></span>
                  <span class="btn-inner--text">Đặt dịch vụ vệ sinh</span>
                </a>
                <a [routerLink]="['/booking']" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-calendar-grid-58"></i></span>
                  <span class="btn-inner--text">Sử dụng định kỳ</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Khu vực vệ sinh</h6>
                  <p class="description mt-3">Dịch vụ được lựa chọn theo các tiêu chí liên quan tới diện tích, khu vực
                    dọn dẹp.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">Tổng vệ sinh</span>
                    <span class="badge badge-pill badge-primary">Phòng ngủ</span>
                    <span class="badge badge-pill badge-primary">Phòng khách</span>
                    <span class="badge badge-pill badge-primary">Phòng bếp</span>
                    <span class="badge badge-pill badge-primary">Phòng thờ</span>
                    <span class="badge badge-pill badge-primary">Nhà vệ sinh</span>
                    <span class="badge badge-pill badge-primary">. . .</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Thông tin chi tiết</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Hình thức sử dụng dịch vụ</h6>
                  <p class="description mt-3">Là các loại hình thức dịch vụ được phân bổ bởi tiêu chí theo thời gian: Sử
                    dụng dịch vụ trong ngày, Dịch vụ vệ sinh đặt trước hoặc Dịch vụ vệ sinh định kỳ.</p>
                  <div>
                    <span class="badge badge-pill badge-success">Dịch vụ trong ngày</span>
                    <span class="badge badge-pill badge-success">Dịch vụ định kỳ</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-success mt-4">Thông tin chi tiết</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Dịch vụ tiện ích bổ sung</h6>
                  <p class="description mt-3">Dịch vụ tiện ích sẽ bao gồm các loại tiện ích lau dọn và vệ sinh vật dụng,
                    khu vực riêng.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">Vệ sinh tủ lạnh</span>
                    <span class="badge badge-pill badge-warning">Vệ sinh máy giặt</span>
                    <span class="badge badge-pill badge-warning">Vệ sinh điều hòa</span>
                    <span class="badge badge-pill badge-warning">Dọn vườn</span>
                    <span class="badge badge-pill badge-warning">. . .</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Thông tin chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">

        <div class="col-lg-9 order-lg-1">
          <div class="d-flex px-3">
            <div class="pl-4">
              <h4 class="display-3">Điểm đặc biệt và tính đa dạng của dịch vụ </h4>
              <p class="">Dịch vụ vệ sinh của HMS đem tới không chỉ là sự đa dạng trong hình thức sử dụng cũng như vô số
                tính năng để người dùng lựa chọn</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Lịch trình thời gian</h5>
                  <p>Hệ thống sẽ có 1 lịch trình hiển thị rõ ràng như 1 thời khóa biểu, người dùng cũng như cleaner đều
                    dễ dàng tiếp cận và nắm bắt.</p>

                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Tính chất công việc</h5>
                  <p>Công việc không chỉ dừng ở dọn dẹp cơ bản. Dịch vụ còn cung cấp tới cho khách hàng việc làm sạch
                    từng chi tiết nhỏ nhất với quy trình chuyên nghiệp.</p>

                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Đội ngũ chuyên nghiệp</h5>
                  <p>Dịch vụ có thể cung cấp từ 1 cho tới nhiều nhân viên, hộ trợ và phân công một cách tối ưu và đảm
                    bảo chất lượng tốt nhất.</p>

                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Nhận thông báo và cập nhật tình hình</h5>
                  <p>HMS luôn luôn cập nhật thông tin một cách nhanh nhất và đầy đủ nhất không chỉ về thời gian và còn
                    cả quá trình sử dụng dịch vụ.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row mb-lg-5">
        <div class="col-lg-8">
          <h2 class="display-3">Tin tưởng chất lượng sản phẩm</h2>
          <p class="lead text-muted">Không chỉ là những tiện nghi tới từ phía hệ thống, dịch vụ còn đem tới chất lượng
            cho sản phẩm.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div>
            <img src="./assets/img/theme/advance05.png" class=""
              style="width: 150px; margin-bottom: 20px; margin-bottom: 20px;">
            <div>
              <h5 class="title">
                <span class="d-block mb-1">Tiết kiệm thời gian</span>
                <small class="h6 text-muted">Nếu bạn muốn hoàn thành khối lượng công việc lớn trong thời gian ngắn, chỉ
                  cần một lần đặt dịch vụ tổng vệ sinh, bạn sẽ
                  có ngay đội ngũ nhân viên để xử lý khối công việc đó thay cho bạn.</small>
              </h5>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div>
            <img src="./assets/img/theme/advance06.png" class="" style="width: 150px; margin-bottom: 20px;">
            <div>
              <h5 class="title">
                <span class="d-block mb-1">Không tốn chi phí công cụ dụng cụ</span>
                <small class="h6 text-muted">Người giúp việc sẽ chuẩn bị đầy đủ dụng cụ khi đến dọn dẹp, bạn không cần
                  phải chọn thêm bộ dụng cụ như dịch vụ Giúp
                  việc nhà theo giờ..</small>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div>
            <img src="./assets/img/theme/advance03.png" class="" style="width: 150px; margin-bottom: 20px;">
            <div>
              <h5 class="title">
                <span class="d-block mb-1">Giải quyết khối lượng công việc lớn</span>
                <small class="h6 text-muted">Dịch vụ vệ sinh nhà cửa là giải pháp tối ưu để “đánh tan” khối lượng công
                  việc quá lớn dàn trải toàn bộ ngôi nhà mà dịch vụ
                  Giúp việc nhà theo giờ khó có thể đáp ứng được..
                </small>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div>
            <img src="./assets/img/theme/advance07.png" class="" style="width: 150px; margin-bottom: 20px;">
            <div>
              <h5 class="title">
                <span class="d-block mb-1">Cải thiện không gian sống</span>
                <small class="h6 text-muted">Việc tổng vệ sinh nhà cửa không chỉ giúp đảm bảo môi trường sống luôn an
                  toàn, sạch sẽ mà còn “phá tan” nơi trú ngụ của
                  những vi khuẩn gây bệnh..</small>
              </h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0" style="padding-top: 0 !important; padding-bottom: 5rem !important;">
    <div class="container">
      <div class="row align-items-center">
        <div class="d-flex" style="color: #000">
          <div>
            <h4 class="display-3">Bảng giá dịch vụ</h4>
            <p>Bảng giá chỉ tính dựa trên số diện tích dọn dẹp và số nhân viên</p>
            <p style="font-size: 12px; color: gray;"> Mang tính chất tham khảo không bao gồm
              các dịch vụ hỗ trợ, tiện ích bổ sung.</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="rounded overflow-hidden bootstrap-slider-price">
            <ngb-carousel class="abc">
              <ng-template ngbSlide>
                <div style="display: flex !important;">
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">Nhỏ hơn 20m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">20-30m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">30-40m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                </div>

              </ng-template>
              <ng-template ngbSlide>
                <div style="display: flex !important;">
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">40-60m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">60-80m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">80-100m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template ngbSlide>
                <div style="display: flex !important;">
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">100m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">100-130m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                  <div class="card-body slider-price" style="padding-left: 0 !important;">
                    <div class="pl-4">
                      <h5 class="title text-warning">Trên 130m2</h5>
                      <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                        thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                    </div>
                  </div>
                </div>
              </ng-template>

            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0" style="padding-top: 0 !important; padding-bottom: 5rem !important;">
    <div class="container">
      <div class="row align-items-center">
        <div class="d-flex" style="color: #000">
          <div>
            <h4 class="display-3">Đội ngũ nhân viên dịch vụ</h4>
            <p>Bao gồm những nhân viên trực tiếp hoặc được thuê full time cho hệ thống công ty.</p>
          </div>
        </div>
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div>
            <div class="card-body" style="padding-left: 0 !important;">
              <div class="d-flex">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Xác minh lý lịch</h5>
                  <p>Nhân viên dọn dẹp được phỏng vấn trực tiếp và trải qua 3 bước kiểm tra lý lịch. Mọi thông tin đều
                    minh bạch và rõ ràng nhất để người dùng có thể tiếp nhận.</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card-body" style="padding-left: 0 !important;">
              <div class="d-flex">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">Chất lượng chuyên môn cao</h5>
                  <p>Đều phải qua được các bài kiểm tra phỏng vấn và thực nghiệm kiểm tra. Mỗi ứng viên đều cần có ít
                    nhất các tiêu chí riêng và đủ năm kinh nghiệm.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div>
            <div class="card-body" style="padding-left: 0 !important;">
              <div class="d-flex">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Được đánh giá tốt</h5>
                  <p>Chúng tôi thu thập các đánh giá và phản hồi của khách hàng sau mỗi lần dọn dẹp để đảm bảo tất cả
                    cộng tác viên dọn dẹp
                    đều có chất lượng tốt nhất.</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card-body" style="padding-left: 0 !important;">
              <div class="d-flex">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">Thân thiện và lịch sự</h5>
                  <p>Nhân viên dọn dẹp được đào tạo về chuyên môn, cách ứng xử và giao tiếp với khách hàng để
                    thời gian dọn dẹp tại nhà khách hàng luôn thoải mái và vui vẻ nhất.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Phản hồi và đánh giá</h2>
          <p class="lead text-white">Sau đây là những phản hồi đánh giá chung của các khách hàng đã và đang tiếp tục sử
            dụng dịch vụ của HMS.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Đánh giá 1</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Đánh giá 2</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Đánh giá 3</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>

  <section class="section pt-lg">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">Bạn đã sẵn sàng để trải nghiệm dịch vụ?</h3>
              <p class="lead text-white mt-3">Chúng tôi sẽ cung cấp cho khách hàng 1 trải nghiệm về dịch vụ vệ sinh
                tuyệt vời nhất.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a [routerLink]="['/booking']" class="btn btn-lg btn-block btn-white">Đặt dịch vụ ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>