<main>
  <section class="background-fitness">
    <div class="container">
      <div class="row column-center">
        <div class="col-lg-5 setting-auth-page">
          <div class="text-center text-muted mb-4">
            <div class="title-page"> Quên Mật khẩu</div>
          </div>
          <!-- Thẻ html các trường input của login  -->
          <form role="form">
            <div  *ngIf="buttonTitle == 'Gửi'">
              <div class="input-title" style="color: #000;">
                Nhập email đẵ đăng ký
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <input class="form-control height-fix" #email id="email" (keypress)="omit_special_char_email($event)"
                    (blur)="changeHandler('email')" (focus)="focusEmail()" placeholder="name@email.com" type="text"
                    aria-describedby="email-help" maxlength="50" [(ngModel)]="account_email">
                </div>
                <span *ngIf="emailExist" class="error"> Email đã được đăng ký.</span>
              </div>
            </div>
            <div  *ngIf="buttonTitle == 'Xác thực'">
              <div class="input-title" style="color: #000;">
                Nhập mã xác thực
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Mã xác thực" type="text" (blur)="focus1=false"
                    [(ngModel)]="keyCode">
                </div>
              </div>
            </div>
            <div *ngIf="buttonTitle == 'Lưu'">
              <div class="input-title" style="color: #000;">
                Mật khẩu Mới
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Password" type="password" (blur)="focus1=false"
                    [(ngModel)]="password">
                </div>
              </div>
            </div>
            <div *ngIf="buttonTitle == 'Lưu'">
              <div class="input-title" style="color: #000;">
                Nhập lại Mật khẩu
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Password" type="password" (blur)="focus1=false"
                    [(ngModel)]="password">
                </div>
              </div>
            </div>
            <div class="text-center" style="margin-top: 2rem;">
              <button type="button" class="btn btn-color" (click)="sendRequest()">{{buttonTitle}}</button>
            </div>
            <div style="text-align: center; color: #000;">Quay lại <span class="hightlight" (click)="signIn()">Đăng
                Nhập</span></div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>