<!-- Màn hình customer -->
<div *ngIf="(customerNavbar)">
    <app-navbar-customer [customerNavbar]="customerNavbar" [guestNavbar]="guestNavbar" [username]="username"></app-navbar-customer>
    <!-- Sidenav -->
    <router-outlet *ngIf="customerNavbar"></router-outlet>
    <app-footer *ngIf="customerNavbar"></app-footer>
</div>

<!-- Màn hình quản lý -->
<div *ngIf="(cleanerNavbar || adminNavbar || managerNavbar || leadNavbar)">
    <app-sidebar [cleanerNavbar]="cleanerNavbar" [leadNavbar]="leadNavbar" [adminNavbar]="adminNavbar" [managerNavbar]="managerNavbar" [username]="username"></app-sidebar>
    <div class="main-content">
        <!-- Top navbar -->
        <app-navbar [cleanerNavbar]="cleanerNavbar" [leadNavbar]="leadNavbar" [managerNavbar]="managerNavbar" [adminNavbar]="adminNavbar" [username]="username"></app-navbar>
        <!-- Pages -->
        <router-outlet></router-outlet>
    </div>
</div>

<!-- Màn hình guest -->
<div #guestCustomerTemplate *ngIf="guestNavbar">
    <app-navbar-customer [customerNavbar]="customerNavbar" [guestNavbar]="guestNavbar" [username]="username"></app-navbar-customer>
    <!-- Sidenav -->
    <router-outlet></router-outlet>
    <app-footer *ngIf="customerNavbar"></app-footer>
</div>