.delete {
  cursor: pointer;
  float: right;
  margin-top: -25px;
  margin-right: 10px;
}

label {
  margin: 0px 0px 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #373737;
}

input {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  padding: 8px 12px 8px;
  font-size: 14px;
  line-height: 20px;
}

input:focus {
  border-color: #5cb3fd;
}

.no-border {
  border-color: #dcdcdc !important;
}

input.no-border:focus {
  border-color: #5cb3fd !important;
}

.ng-invalid.ng-dirty {
  border-color: #f44336;
}

.column-center {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-left: -10rem;
}

.title-page {
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
  margin-bottom: 3rem;
  color: #373737;
  font-weight: 900;
}

.btn-color {
  background-color: #AC1929;
  border-radius: 15px;
  width: 383px;
  height: 34px;
  color: #ffffff;
  font-size: 14px;
  padding: 7px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.input-auth-page {
  width: 383px;
}

.hightlight {
  color: #0F3DDE;
  font-weight: 500;
  cursor: pointer;
}

.forgot-pass-title {
  text-align: start;
  color: #0F3DDE;
  font-weight: 500;
  cursor: pointer;
}