<main>
  <section class="background-fitness">
    <div class="container">
      <div class="row column-center">
        <div class="col-lg-5 setting-auth-page">
              <div class="text-center text-muted mb-4">
                <div class="title-page">Đăng Nhập</div>
              </div>
              <!-- Thẻ html các trường input của login  -->
              <form role="form">
                <div class="input-title" style="color: #000;">
                  Tên đăng nhập
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control"t #account id="account" (keypress)="omit_special_char_email($event)"
                      (blur)="changeHandler('account')" (focus)="focusAccount()" placeholder="Tên đăng nhập"
                      type="text" aria-describedby="email-help" maxlength="50" [(ngModel)]="account_name">
                  </div>
                  <div *ngIf="account_name && account_wrong" class="delete" (click)="clearEmail()">
                    <img style="float: right;" src="assets/img/close.svg" />
                  </div>
                </div>
                <div class="input-title" style="color: #000;">
                  Mật khẩu
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Password" type="password" (blur)="focus1=false"
                      [(ngModel)]="password">
                  </div>
                </div>
                <div class="forgot-pass-title"  href="/register">Quên mật khẩu</div>
                <div class="text-center" style="margin-top: 2rem;">
                  <button type="button" class="btn btn-color" (click)="login()">Đăng nhập</button>
                </div>
                <div style="text-align: center; color: #000;">Chưa có tài khoản? <span class="hightlight" (click)="signUp()">Đăng ký</span> ngay</div>
              </form>
        </div>
      </div>
    </div>
  </section>
</main>